.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared data  */

.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.body-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    margin-bottom: 50px;
    margin-top: 32px;
}

.orange{
    color: rgba(255, 144, 14, 1);;
}

/* header style  */

.logo{
    font-size: 2.8rem;
    font-weight: bold;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}
.nav-bar ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.13rem;
} 

.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner relared styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-des{
    font-size: 1rem;
}

.banner-pic{
    width: 100%;
}

/* main related styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

#part-1{
    font-size: 2.8rem;
    font-weight: 600;
}
#part-2, #part-3{
    font-size: 2.8rem;
    font-weight: bold;
}

.team-features-des{
    font-size: 1rem;
    
}

.teams{
    display: flex;
    align-items: center;
}

.team-features{
    max-width: 537px;
    margin-left: 130px;
}

.teams-pic-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

/* some facts section styles */

.facts-header{
    max-width: 542px;
}

.fact-title{
    font-size: 2.8rem;
    font-weight: bold;
}

.fact-subtitle{
    font-size: 1rem;
}

.fact-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.facts{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 241.1px;
    height: 241.1px;
    margin-top: 100px;
    text-align: center;
}

.number{
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}
.result{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.icon{
    margin-top: 45px;
}

/* media query for small devices */

@media screen and (max-width: 576px){
    .nav-bar{
        flex-direction: column;
    }

    .nav-bar ul li{
        display: block;
    }

    .teams{
        flex-direction: column-reverse;
    }

    .teams-pic-container{
        grid-template-columns: 1fr;
    }

    .team-features{
        margin-left: 20px;
    }
    .fact-container{
        flex-direction: column;
    }

    .facts-header{
        margin: 0 auto;
    }
}

/* media query for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column-reverse;
    }
    
    
}